body {
  background-color: aqua;
  display: flex;
}


h1 {
    color: bisque;
}

.second-header {
    color: black;
}

.group-text {
    margin: 24px;
    padding: 24px;
    background-color: blueviolet;
}

@media (max-width: 480px) {
    body (
        flex-direction: column;;;
    )
}